
<% @merchants.each do |merchant| %>
  <ul> 
    <li><a href="/merchants/<%=merchant.id%>" target="_self"><%= merchant.name %></a></li>
    <li> Item Count: <%= merchant.items.count %></li>
    <li> Avg Item Price: <%= merchant.average_item_price %></li>
    <li> Total Cost of Items: <%= merchant.total_cost_of_items %></li>
  </ul>
<% end %>

<ul>
  <li> Merchant With Highest Price Item: <%= @highest_price_item %></li>
  <li> Merchant With Most Items: <%= @merchant_with_most_items %></li>
</ul>